/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	
	
}
section {
	margin: 150px ;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
    color:#000000; 
    text-decoration: none; 
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin: auto 150px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact,#login {
	width: 50%;
	margin: auto;
}
#contact > *,#login > * {
	text-align: center;

}
#contact h2,#login h2{
	margin-bottom: 20px;
}
#contact form,#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,#login label {
	margin: 2em 0 1em 0;
}
#contact textarea,#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color:#FFFFFF ;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border: none;
	border-radius: 60px;
	cursor: pointer;
}

input[type="text"]{
	height: 51px;
	font-family: 'work sans';
	font-weight: 400;
	background-color: #FFFFFF;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"].enabled {
    background-color: #28a745; /* Vert pour le bouton Valider */
}

#workCategory{
	width: 420px;
	height: 51px;
	font-family: 'work sans';
	font-weight: 400;
	background-color: #FFFFFF;
	margin : 2em auto ;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.filters{
	display: flex;
	justify-content: center;
	gap: 1rem ;
	margin-bottom: 1rem;
	
	
}

.filters button{
	font-family: 'Syne';
	font-weight: 700;
	padding: 0.5rem 1rem;
	text-align: center;
	border-radius: 60px ;
	color: #1D6154;
	
	height: 37px;
}

.filters button:hover {
	background-color: #1D6154; /* Changer la couleur de fond au survol */
  	color: white; /* Texte en vert foncé lorsque cliqué */
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.hidden {
    display: none;
}

#error-message {
    color: red;
    font-size: 1.1em;
    margin-top: 15px;
}

.forgot-password-btn {
    background: none;
    border: none;
    color: #070707;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

/* Modale */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
	display: grid;
    background-color: #fff;
    padding: 20px;
    width: 630px;  /* Largeur de la modale ajustée à 630px */
    height: 670px; /* Hauteur de la modale ajustée à 688px */
    position: relative;
    overflow: hidden; /* Pour éviter les débordements d'éléments */
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.gallery-modal {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
   
    
}

.modal-content h2 {
    color:#000000;
    text-align: center;  /* Centrer le texte */
    margin-bottom: 20px;  /* Espacement en bas du titre */
	font-family: 'work sans';
	font-weight: 400;
}

.gallery-modal img {
    width: 79px;  /* Largeur fixe des images */
    height: 118px; /* Hauteur fixe des images */
    border-radius: 8px;
    object-fit: cover; /* Ajuste les images sans les déformer */
}

.add-work-btn {
    display: flex;
	justify-content: center;
    margin-top: 20px;
    background-color: #1D6154;
    color: white;
	font-family: 'syne';
    padding: 10px 20px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}


.hidden{
	display: none;
}

.button-modifier{
	display: flex;
	background: none;
	border: none;
	gap: 10px;
	font-family: 'work sans';
	cursor: pointer;
}


.fa-regular{
	background: none;
	font-family: 'Syne';
	font-weight: 700;
	font-size: none;
	
}

/* Style pour le conteneur de l'image (avec l'icône à l'intérieur) */
.img-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

/* Style pour l'image */
.img-container img {
    width: 79px;  /* Largeur de l'image */
    height: 118px; /* Hauteur de l'image */
    display: block;
    border-radius: 5px; /* Optionnel : Arrondir les coins de l'image */
}

/* Style pour l'icône de suppression (à l'intérieur de l'image) */
.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background: black;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    
}

.modal-content{
	display:none ;
}

.fa-port-folio{
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 10px;
	
}

.form-row {
    display: flex;
    flex-direction: column;
}

.add-photo-btn {
	display: flex;
	flex-direction: column;
    background-color: #E8F1F6;
    color: #B9C5CC;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    gap: 8px; /* Espacement entre l'icône et le texte */
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.add-photo-btn i {
    font-size: 75px;
}

.add-photo-btn span:last-child {
    font-size: 12px;
    color: #999;                  /* Couleur du texte d'information */
    margin-top: 5px;
    display: block;                /* Pour que le texte apparaisse sous le bouton */
}

.back-btn {
    position: absolute;  
    top: 20px;           
    left: 20px;          
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #333;         
    cursor: pointer;
    z-index: 1000;       
}

.back-btn i {
    margin-right: 10px;
}

/* Styles pour l'aperçu de l'image */


#photo-preview {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

/* Cacher le texte et l'icône après la sélection de l'image */
.add-photo-btn.image-selected i,
.add-photo-btn.image-selected span {
    display: none;
}

/* Style pour le mode édition */
#mode-edition {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    top: 0;
    width: 100%;
	height: 59PX;
	
   
}

hr {
	width: 420px;
    border: 1px;
    border-top: 2px solid #B3B3B3; /* Bordure grise claire */
    margin: 20px 0; /* Espacement avant et après la ligne */
}